h1 {font-size:22px;}
h2 {font-size:21px;}
h3 {font-size:18px;}
h4 {font-size:1em;}
h5 {font-size:9pt;}
h1,h2,h3,h4,h5 {padding:5px 0 10px 0;font-weight:bold;}

img {border:none;}
img a {border:none;}
blockquote{border-left:2px solid;font-style:italic;margin:0px; padding:0 12px 0 12px;}

p {margin:0;padding:5px 0px 10px 0px;text-indent:0px;}



a, a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover { text-decoration:none; }

acronym,abbr {border-bottom:1px dotted;}

del { text-decoration: line-through; }

ul{padding: .5em 0em 1em 3.2em;}
li{line-height: 160%; padding: 6px 0 0 0;}

ol{padding: .5em 0em 0em 3.2em;}


input[type="text"],textarea { border:1px solid; padding:2px; }