.imgset {
    float: left;
    /*overflow: visible;*/
    border: none;
    margin-right: 6px;
}

.serieslist-content {
    font-size: 1.2em;
    text-align: left;
}

.serieslist-box {
    width: 90%;
    /*height: 100px;*/
    padding: 6px;
    margin: 10px auto 0 auto;
    border: 1px solid #dedede;
    border-bottom: 2px solid #21759b;
}

html>body .serieslist-box {
    height: auto;
    /*min-height: 100px;*/
}   

h2.series-title {
    font-size: 1.2em;
    text-align: center;
}

ul.serieslist-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li.serieslist-li {
    margin: 0;
    padding: 0;
}

.seriesbox {
    display:inline;
    float: right;
    text-align: left;
    margin: 0 10px 0px 10px;
    padding: 6px 6px 12px 6px;
    border: 1px solid #dedede;
    border-bottom: 2px solid #21759b;
    min-width: 125px;
}

.seriesbox img { margin: 0px 12.5px 0 12.5px; }

.seriesbox h4 a { color: black; }

h3.series-title-post-page {
    font-size: 1.1em;
    text-align: center;
}

p.series-description { font-style: italic; }

.seriesmeta { font-size: .8em; }

.series-nav-left { float: left; }

.series-nav-right { float: right; }
    
